:host {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* width: calc (1136px + 40px); */
  /* height: 629.6px; */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  background: #f4f6f8;
}

.euro{
    color: #fbc02d;
}
/* Layout */
.cv-layout {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  gap: 12px;
  width: 100%;
  height: 100%;
}

/* Cards */
.cv-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
}

/* Form */
.form-panel {
  overflow-y: auto;
}

/* Preview */
.preview-panel {
  overflow-y: auto;
  background: #fafafa;
  font-size: 13px;
}


/* Image */
.image-section {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.avatar,
.preview-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

/* Sections */
section {
  margin-top: 12px;
}

/* Cards for arrays */
.section-card {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 8px;
  padding: 8px;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background: #fafafa;
}

/* Preview formatting */
.preview-header {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.preview-item-title {
  font-weight: 600;

}

/* Material compact */
mat-form-field {
  width: 100%;
  margin-bottom: -8px;
}

.mat-mdc-form-field-infix {
  min-height: 36px;
}

/* Buttons */
.submit-btn {
  margin-top: 16px;
  width: 100%;
}

mat-divider {
  margin: 10px 0;
}
