.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.login-card {
  width: 350px;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #fbc02d;
  margin-bottom: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
}
