.header {
  background-color: #fbc02d;
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.dashboard-container {
  height: calc(100vh - 64px);
  display: flex;
}

.sidebar {
  width: 240px;
  background-color: #fbc02d;
  padding-top: 10px;
}

.sidebar a {
  font-weight: 500;
}

.content {
  flex: 1;
  background-color: #f2f2f2;
  padding: 20px;
}
