@charset "UTF-8";
.header {
  height: 56px;
  background-color: #fbc02d;
  font-weight: 600;
}

.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #fbc02d;
  padding-top: 10px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar a {
  display: block;
  padding: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.sidebar.show {
  transform: translateX(0);
}

.content {
  margin-top: 56px;
  padding: 20px;
}

/* desktop */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .content {
    margin-left: 240px;
  }
}
